<div class="redact" ng-class="{now: $route.current.activetab === 'redact'}" ng-controller="RedactCoursesController">
    <div class="container">
        <div class="row">
            <div class="col-md-12 no-padding">
                <div class="redact-head">
                    <div class="redact-icons icon-comment">
                        <i class="fa fa-comment-o" aria-hidden="true" id="topRed"></i>
                    </div>
                    <div class="right-icons">
                        <div class="redact-icons icon-user"><i class="fa fa-user" aria-hidden="true"></i></div>
                        <div class="redact-icons"><i class="fa fa-wrench" aria-hidden="true"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 no-padding">
                <div class="redact-form">
                    <form ng-submit="go('/redactCourse/' + paramId)" name="uploadForm">
                        <article class="upload-wrapper" id="setup">
                            <section class="upload-header">
                                <span class="upload-user act-us">My resourses</span>
                                <label class="btn btn-primary uploads-button">
                                    <span>Upload resourse</span>
                                    <input type="file" name="file" fileread="file">
                                </label>
                                <div class="uploads-red-square">4</div>
                            </section>
                            <section class="uploads-content" ng-repeat="up in uploads">
                                <img ng-src="{{up.images.src}}">
                                <ul class="content-description">
                                    <li>{{up.images.name}}</li>
                                    <li><span>Created: </span>
                                        {{up.images.created |  date:'medium'}}
                                    </li>
                                    <li><span>Size: </span>{{up.images.size/1024 | number:2}} KB</li>
                                </ul>
                                <div class="checkbox">
                                    <input type="checkbox" ng-model="uploaded[$index]" id="{{up.id}}"
                                           ng-true-value="{{up}}" ng-false-value="{{undefined}}"
                                           ng-checked="courseData[0].upload[$index].images.src === up.images.src">
                                    <label for="{{up.id}}"></label>
                                </div>
                                <span class="deleter"><p ng-click="removeResourse(up.id, $index)">&times</p></span>
                            </section>
                        </article>
                        <div class="button-wrap">
                            <button type="submit" ng-click="addImg(uploaded)" class="btn btn-primary">Save</button>
                            <button ng-click="go('/redactCourse/' + paramId)"
                                    class="btn btn-primary">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>