<div class="redact" ng-class="{now: $route.current.activetab === 'redact'}" ng-controller="RedactCoursesController">
    <div class="container">
        <div class="row">
            <div class="col-md-12 no-padding">
                <div class="redact-head">
                    <div class="redact-icons icon-comment">
                        <i class="fa fa-comment-o" aria-hidden="true" id="topRed"></i>
                    </div>
                    <div class="right-icons">
                        <div class="redact-icons icon-user"><i class="fa fa-user" aria-hidden="true"></i></div>
                        <div class="redact-icons"><i class="fa fa-wrench" aria-hidden="true"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 no-padding">
                <div class="redact-form">
                    <article>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="write-outline">
                                    <form ng-submit="go('/redactCourse/' + paramId)">
                                        <div class="col-md-3 col-sm-3 col-xs-6 outline-params">
                                            <div><span>2.Write Outline</span></div>
                                        </div>
                                        <div class="col-md-5 col-sm-5 col-xs-12">
                                            <input type="text" placeholder="Edit title"
                                                   ng-model="courseData[0].title" required>
                                            <input type="text" placeholder="Edit subtitle"
                                                   ng-model="courseData[0].subtitle" required>
                                        </div>
                                        <div class="col-md-4 col-sm-4 name-items">
                                            <span>#{{courseData[0].types}}</span>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <textarea class="descriptions" placeholder="WHO?"
                                                      ng-model="courseData[0].who" required>
                                            </textarea>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <textarea class="descriptions" placeholder="WHY?"
                                                      ng-model="courseData[0].why" required>

                                            </textarea>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <textarea class="descriptions" placeholder="WHAT?"
                                                      ng-model="courseData[0].what" required>

                                            </textarea>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="button-wrap">
                                                <button type="submit"
                                                        class="btn btn-primary"
                                                        ng-click="addSynopsisOfCourse(courseData[0].title,
                                                        courseData[0].subtitle, courseData[0].who,
                                                        courseData[0].why, courseData[0].what,
                                                        courseData[0].id)">Save</button>
                                                <button ng-click="go('/redactCourse/' + paramId)"
                                                        class="btn btn-primary">Cancel</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>