<article class="courses">
    <ul class="course-menu">
        <a href="/construction"><li>Construction items</li></a>
        <a href="/public"><li>Public items</li></a>
        <a href="/intern"><li>Intern items</li></a>
        <a href="/deletion" class="active"><li>Deletion items</li></a>
    </ul>
    <section ng-repeat="course in coursesData | filter : {place: 'deletion'} : true">
        <div class="course-item">
            <a class="course-wrap" href="/redactCourse/{{course.id}}">
                <div class="delete-course">
                    <img ng-src="img/{{course.avatar || 'noimg.jpg'}}">
                    <p><b>{{course.title}}</b><br>{{course.subtitle}}</p>
                </div>
            </a>
            <span class="delete-course"><p ng-click="removeCourse(course.id, $index)">&times</p></span>
            <div class="btn-group select" ng-class="{open: actionTriggered === $index}">
                <button ng-click="triggerMenu($index)" type="button"
                        class="btn btn-default dropdown-toggle selected" data-toggle="dropdown">
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="items in availableCourses" ng-click="triggerMenu(false)">
                        <a href="#" ng-click="updatePlaceCourse(course.id, items.name)">
                            <div ng-class="items.type"></div>{{items.name}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div ng-class="{bw: $route.current.activedroptab === 'deletion'}"></div>
    </section>
</article>