<article class="courses">
    <ul>
        <a href="/courses/construction"><li>Construction items</li></a>
        <a href="/courses/public"><li>Public items</li></a>
        <a href="/courses/intern"><li>Intern items</li></a>
        <a href="/courses/deletion" class="active"><li>Deletion items</li></a>
    </ul>
    <section ng-repeat="course in coursesData | filter : {place: 'deletion'} : true">
        <div class="course-item">
            <a href="/redactCourse">
                <div>
                    <img ng-src="img/{{course.avatar}}">
                    <p><b>{{course.name}}</b><br>{{course.status}}</p>
                </div>
            </a>
            <span><p ng-click="removeCourse(course.id, $index)">&times</p></span>
            <select ng-model="selected"
                    ng-options="x as x.name for x in availableCourses"
                    ng-change="updatePlaceCourse(course.id, selected.name)">
            </select>
        </div>
        <div ng-class="{bw: $route.current.activedroptab === 'deletion'}"></div>
    </section>
</article>