<article class="courses">
    <ul class="course-menu">
        <a href="/construction"><li>Construction items</li></a>
        <a href="/public"><li>Public items</li></a>
        <a href="/intern" class="active"><li>Intern items</li></a>
        <a href="/deletion"><li>Deletion items</li></a>
    </ul>
    <section ng-repeat="course in coursesData | filter : {place: 'intern'} : true">
        <div class="course-item">
            <a class="course-wrap" href="/redactCourse/{{course.id}}">
                <div class="delete-course">
                    <img ng-src="img/{{course.avatar || 'noimg.jpg'}}">
                    <p><b>{{course.title}}</b><br>{{course.subtitle}}</p>
                </div>
            </a>
            <span class="delete-course"><p ng-click="removeCourse(course.id, $index)">&times</p></span>
            <select ng-model="selected"
                    ng-options="x as x.name for x in availableCourses"
                    ng-change="updatePlaceCourse(course.id, selected.name)">
            </select>
        </div>
        <div ng-class="{rw: $route.current.activedroptab === 'intern'}"></div>
    </section>
</article>