*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}
input:focus::-webkit-input-placeholder {
	color: transparent;
}
input:focus:-moz-placeholder {
	color: transparent;
}
input:focus::-moz-placeholder {
	color: transparent;
}
input:focus:-ms-input-placeholder {
	color: transparent;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
	background-color: #49505b;
}
.main {
	padding-top: 60px;
}
.none {
	opacity: 0;
}
.now {
	opacity: 1;
}
.height {
	height: 300px;
}
.del {
	display: none !important;
}
.user-log {
	position: absolute;
	top: -60px;
	right: 0;
	width: 140px;
	height: 60px;
	display: inline-block;
	padding: 13px 5px;
}
.img-user {
	display: inline-block;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	position: relative;
	background-color: #fff;
	text-align: center;
	border: 1px solid rgba(154, 157, 160, 0.8);
	overflow: hidden;
}
.img-user i {
	color: #9a9da0;
}
.user-log a {
	position: absolute;
	line-height:35px;
	color: #9a9da0;
	right: 0;
	cursor: pointer;
}
.user-log a i {
	padding-left: 5px;
}


/*Шапка*/


header {
	background-color: #4ec4ac;
	height: 95px;
	position: relative;
}
.logo {
	display: block;
	text-align: center;
	line-height: 95px;
	width: 100%;
}
header .col-md-11 {
	padding-left: 0;
}
header ul {
	list-style-type: none;
	margin: 0;
	position: absolute;
	top: 5px;
	padding: 0;
}
header ul li {
	padding: 0 50px;
}
header ul .active {
	background-color: #eef1f4;
	color: #2f3b4c;
	border-radius: 3px 3px 0 0;
}
header ul a {
	color: #fff;
	display: inline-block;
	line-height: 90px;
	font-size: 1.1em;
}
header ul a:hover, header ul a:active, header ul a:focus  {
	text-decoration: none;
}


/*Правая навигация*/


main {
	background-color: #eef1f4;
}
.main-bg{
	background-color: #2f3b4c;
	padding: 0;
}
menu {
	padding: 0;
	margin: 0;
	height: 100%;
}
.menus {
	display: inline-block;
	width: 100%;
	text-align: center;
	padding: 25px 0;
	border-bottom: 1px solid #3e4b5c;
}
.menus p {
	padding-top: 10px;
	margin-bottom: 0;
}
.menus a {
	color: #a9bfc7;
}
.menus a:hover, menu a:active, menu a:focus {
	text-decoration: none;
	color: #fff;
}

aside .active {
	background-color: #4f9dce;
}
aside .active a, aside .active i {
	color: #fff;
}


/*Секция курсов*/


main .wrapper {
	position: relative;
	margin: 10px 0;
}
.courses {
	background-color: #fff;
	height: 1000px;
	border: 1px solid #d9dfe5;
}
.courses ul  {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	border-bottom: 1px solid #d9dfe5;
}
.courses ul a {
	display: inline-block;
	height: 95px;
	color: #90969b;
	font-size: 1.1em;
}
.courses ul li {
	line-height:97px;
	display: inline-block;
	padding: 0 30px;
	border-right: 1px solid #d9dfe5;
}
.courses .active {
	-webkit-box-shadow: 0 -3px 0 #55addc;
	-moz-box-shadow: 0 -3px 0 #55addc;
	box-shadow: 0 -3px 0 #55addc;
	color: #2f3b4c;
}
.courses .active li {
	background-color: #fff;
	z-index: 2;
}
.courses section {
	position: relative;
	display: inline-block;
	border: 1px solid #d9dfe5;
	text-align: center;
	margin: 12px;
	border-radius: 4px;
}
.courses section div {
	background-color: #f6f8f9;
	width: 100%;
	height: 100%;
}
.courses section img {
	width: 140px;
	height: 140px;
	background-color: #fff;
	padding: 4px;
	border-radius: 4px;
	border: 1px solid #d9dfe5;
	margin: 15px 15px 8px 15px;
}
.courses section p {
	text-align: left;
	margin: 0 0 20px 15px;
	font-size: 0.9em;
}
.courses section a {
	width: 174px;
	height: 220px;
	text-decoration: none;
	cursor: pointer;
	color: #2f3b4c;
	border-radius: 4px;
}
.courses section a:hover {
	text-decoration: none;
	color: #262e3d;
}
.courses section a:hover div {
	background-color: #eaeced;
}
.courses section span {
	position: absolute;
	top: 4px;
	right: 4px;
	width: 34px;
	height: 34px;
	background-color: rgba(97, 106, 120, 0.8);
	cursor: pointer;
	display: none;
	border-radius: 2px;
}
.courses section span p {
	text-align: center;
	color: #fff;
	font-size: 2.3em;
	margin: 0;
	padding: 0;
	line-height: 30px;
}
.courses section:hover span {
	display: block;
}
.courses section span:hover {
	background-color: rgba(54, 71, 120, 0.8);
}
.courses section select {
	position: absolute;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	right: 4px;
	bottom: 4px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: transparent;
	padding: 3px 15px;
	text-align: center;
	background-color: transparent;
	z-index: 2;
}
.courses section .ow, .courses section .gw, .courses section .rw, .courses section .bw {
	position: absolute;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	right: 4px;
	bottom: 4px;
	z-index: 0;
	background-color: #ffa500;
}
.courses section .ow {
	background-color: #ffa500;
}
.courses section .gw {
	background-color: #008000;
}
.courses section .rw {
	background-color: #ff0000;
}
.courses section .bw {
	background-color: #0000ff;
}


/*Setap course main*/


.types {
	position: relative;
	display: flex;
	width: 100%;
	margin-bottom: 20px;
}
.types a:hover {
	text-decoration: none;

}
.checkbox, .radio {
	 margin-top: 0;
	 margin-bottom: 0;
}
.types:nth-child(1) {
	margin-top: 10px;
}

.item-number, .item-name, .checkbox, .labels, .fases, .resourses {
	height: 100px;
	border: 1px solid #c3c3c3;
	background-color: #fff;
	color: #2f3b4c;
	text-align: center;
	line-height:100px;
}
.item-number p {
	width: 100%;
}
.item-number {
	width: 10%;
	font-size: 1.6em;
}
.active-item {
	-webkit-box-shadow: 4px 4px 15px #93948a;
	-moz-box-shadow:  4px 4px 15px #93948a;
	box-shadow:  4px 4px 15px #93948a;
	background-color: #fff;
	color: #000;
}
.item-name {
	margin-left: 15px;
	width: 20%;
	font-size: 1.3em;
}
.item-wrap {
	display: inline-flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	margin-left: 15px;
	width: 70%;
}
.checkbox {
	margin-left: 15px;
	width: 20%;
}
.checkbox:first-child {
	margin-left: 0;
}
.checkbox+.checkbox, .radio+.radio {
	 margin-top: 0;
}
.checkbox label {
	padding: 0;
	font-size: 0.9em;
}
.checkbox input {
	display: none;
	right: 10px;
	bottom: 10px;
}
.checkbox input:not(checked) + label:before {
	content: '';
	position: absolute;
	bottom: 4px;
	right: 4px;
	width: 20px;
	height: 20px;
	background: #fff;
}
.checkbox input:checked + label:before {
	content: '\2714';
	position: absolute;
	font-size: 1em;
	line-height: 15px;
	color: #fff;
}
.checkbox:nth-child(1) input:not(checked) + label:before {
	border: 2px solid #ff0000;
}
.checkbox:nth-child(1) input:checked + label:before {
	background-color: #ff0000;
}
.checkbox:nth-child(2) input:not(checked) + label:before {
	border: 2px solid #800080;
}
.checkbox:nth-child(2) input:checked + label:before {
	background-color: #800080;
}
.checkbox:nth-child(3) input:not(checked) + label:before {
	border: 2px solid #ffc000;
}
.checkbox:nth-child(3) input:checked + label:before {
	background-color: #ffc000;
}
.checkbox:nth-child(4) input:not(checked) + label:before {
	border: 2px solid #f6fac0;
}
.checkbox:nth-child(4) input:checked + label:before {
	background-color: #f6fac0;
	color: #000;
}
.checkbox:nth-child(5) input:not(checked) + label:before {
	border: 2px solid #80e7b0;
}
.checkbox:nth-child(5) input:checked + label:before {
	background-color: #80e7b0;
}
.button-wrap {
	position: relative;
	text-align: center;
}
.button-wrap .btn {
	width: 150px;
}
.labels, .fases {
	margin-left: 15px;
}
.labels {
	width: 33%;
}
.labels:nth-child(1), .fases:nth-child(1) {
	margin-left: 0px;
}
.fases {
	width: 25%;
}
.resourses {
	width: 100%;
}
.check-item {
	background-color: #ff0000;
	color: #fff;
}


/*Setap course Short Synopsis*/


.write-outline {
	position: relative;
	width: 100%;
	height: 100px;
	background-color: #fff;
	border: 1px solid #ff0000;
	margin: 20px 0 15px 0;
	font-size: 1.3em;
}
.outline-params {
	border-right: 1px solid #ff0000;
	line-height: 99px;
	text-align: center;
}
.write-outline form input {
	margin-bottom: 5px;
	text-align: center;
	border: 1px solid #ff0000;
	width: 300px;
}
.write-outline form input:nth-child(1) {
	margin-top: 13px;
}
.write-outline .col-md-4 span {
	line-height: 100px;
}
.write-outline .col-md-4 {
	text-align: center;
	padding: 0;
	margin-bottom: 15px;
	padding-right:15px;
}
.descriptions {
	width: 100%;
	border: 1px solid #ff0000;
	height: 400px;
	font-size: 0.7em;
	padding: 10px;
}
textarea:focus::-webkit-input-placeholder {
	color: transparent;
}
textarea:focus:-moz-placeholder {
	color: transparent;
}
textarea:focus::-moz-placeholder {
	color: transparent;
}
textarea:focus:-ms-input-placeholder {
	color: transparent;
}


/*Section of DIscover*/


.fase {
	height: 100px;
	text-align: center;
	line-height: 90px;
	font-size: 1.1em;
}
.red-square {
	display: block;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	color: #fff;
	background-color: #ff0000;
	text-align: center;
	line-height: 100px;
	font-size: 1.3em;
}
.states {
	position: relative;
	padding-top: 20px;
}
.states ul{
	display: inline-block;
	list-style-type: none;
	text-align: center;
	width: 70%;
	padding: 0;
	margin: 0;
}
.states ul li {
	border: 1px solid ;
	margin-bottom: 3px;
}
.states i {
	position: absolute;
	right: 0;
	color: #777777;
	top: 55px;
}
.states p {
	padding: 20px;
}
.states p, .video-explain p {
	text-align: center;
	border-bottom: 1px solid ;
}
.video-explain  {
	text-align: center;
}
.video-explain i, .optional i {
	padding-top: 10px;
	color: #777777;
}
.video-explain p{
	padding: 20px 0;
}
.optional {
	text-align: center;
	padding: 15px 0 20px 0;
}
.optional i {
	padding: 5px;
}
.states-nav {
	text-align: center;
}
.states-nav .btn {
	width: 80px;
	margin: 4px;
}
.discover-wrap {
	border-left: 1px solid #777777 ;
	padding: 0 15px 20px;
    margin-bottom: 20px;
}
.discover-wrap textarea {
	height: 100px;
	width: calc(100% - 115px);
	margin-left: 115px;
}
.goals {
	padding: 20px 0;
	border-bottom: 1px solid #777777;
}
.goals:first-child {
    padding-top: 0;
}
.goals:last-child {
    border-bottom: none;
}
.goals label {
	position: absolute;
	left: 30px;
	width: 114px;
	font-size: 1.2em;
	display: inline-block;
    font-weight: normal;
}


/*Workspace - Uploads*/


.upload-wrapper {
	position: relative;
	background-color: #fff;
	border: 1px solid #d9dfe5;
	color: #919497;
	margin-bottom: 20px;
}
.upload-header {
	position: relative;
	height: 80px;
	border-bottom: 1px solid #d9dfe5;
}
.act-us {
	z-index: 2;
	background-color: #fff;
	color: #000;
	-webkit-box-shadow: 0 -3px 0 #55addc;
	-moz-box-shadow: 0 -3px 0 #55addc;
	box-shadow: 0 -3px 0 #55addc;
}
.upload-users, .upload-user {
	display: table-cell;
	position: relative;
	text-align: center;
	padding: 0 40px;
	border-right: 1px solid #d9dfe5;
	font-size: 1.2em;
	line-height: 80px;
}
.uploads-button {
	position: absolute;
	right: 130px;
	top: 0;
	margin:25px 15px 25px 0;
	overflow: hidden;
	cursor: pointer;
	width: 130px;
}
.uploads-button input {
	opacity: 0;
	position: absolute;
	left: -9999px;
}
.upload-header input[type=file] {
	display: inline-block;
}
.uploads-red-square {
	position: absolute;
	right: 0;
	top: 0;
	width: 100px;
	height: 60px;
	color: #fff;
	background-color: #ff0000;
	text-align: center;
	font-size: 1.3em;
	line-height: 60px;
	margin: 10px 20px 10px 0;
}
.uploads-content {
	position: relative;
	padding: 15px;
	width: 100%;
	border-bottom: 1px solid #d9dfe5;
	height: 110px;
}
.uploads-content img {
	display: inline-block;
	width: 68px;
	height: 68px;
	border: 1px solid #d9dfe5;
	border-radius: 2px;
	vertical-align: top;
}
.content-description {
	list-style-type: none;
	margin: 0;
	display: inline-block;
	padding-left: 15px;
	width: 180px;
}
.content-description li:nth-child(1) {
	color: #5ca4d1;
}
.content-description li span {
	font-weight: bold;
}
.deleter {
	position: absolute;
	width: 30px;
	height: 30px;
	margin: 20px 10px;
	right: 0;
	border: 1px solid #d9dfe5;
	text-align: center;
	line-height: 29px;
}
.deleter p {
	margin: 0;
	font-size: 2em;
}
.deleter:hover {
	background-color: #d9dfe5;
	cursor: pointer;
}
.uploads-content .checkbox {
	position: absolute;
	height: 25px;
	width: 20px;
	border: none;
	margin: 40px 0;
	right: 50px;
	top: 0;
}
.uploads-content .checkbox input {
	display: none;
}
.uploads-content .checkbox input:not(checked) + label:before {
	content: '';
	border: 2px solid #61b1e4;
	border-radius: 2px;
}
.uploads-content .checkbox input:checked + label:before {
	content: '\2714';
	position: absolute;
	font-size: 1em;
	line-height: 16px;
	color: #fff;
	background-color: #61b1e4;
}


/*Вкладка Users*/


.uploads-users-button {
	position: absolute;
	right: 0px;
	top: 0;
	margin:25px 20px 25px 0;
	overflow: hidden;
	cursor: pointer;
}
.uploads-users {
	padding: 15px;
	width: 100%;
	border-bottom: 1px solid #d9dfe5;
	height: 132px;
}
.uploads-users img {
	display: inline-block;
	width: 72px;
	height: 72px;
	border-radius: 50%;
	vertical-align: top;
	margin: 15px 0;
}
.uploads-users .content-description {
	height: 102px;
}
.uploads-users .content-description > li{
	font-size: 0.9em;
	color: #000;
}
.uploads-users .content-description li:first-child {
	color: #5ca4d1;
}
.uploads-users .content-description li:last-child {
	color: #8e9195;
}
.users-state {
	position: absolute;
	list-style-type: none;
	display: inline-block;
	right: 130px;
	height: 102px;
	margin: 0;
	line-height: 102px;
	vertical-align: top;
	padding: 0;
	font-size: 1.5em;
}
.users-state li {
	display: inline-block;
	padding: 0 18px;
}
.uploads-users .deleter {
	line-height: 28px;
	margin: 37px 10px;
}
.us {
	color: #4ec4ac;
}
.uploads-user-info {
	height: 70px;
	padding: 5px 10px;
}
.uploads-user-info p span, .settings span, .settings form label {
	display: block;
	padding: 5px;
	font-size: 0.8em;
}
.settings, .create-user {
	padding: 5px 10px;
	width: 100%;
	margin-bottom: 15px;
}
.settings {
	border: 1px solid #d9dfe5;
}
.settings form, .create-user form {
	margin: 10px 0 10px 20px;
	position: relative;
}
.settings label, .create-user label{
	margin: 0;
	font-weight: normal;
}
.settings .input-pass, .create-user .input-new {
	display: block;
	height: 25px;
	width: 150px;
}
.save-password-btn {
	display: inline-block;
	margin-top: 10px;
}
.settings form span, .create-user form span {
	position: absolute;
	display: inline-block;
}
.settings form span {
	bottom: 1px;
}
.create-user form input[type='submit'] {
	font-size: 1em;
}
.show-matches {
	bottom: 8px;
	margin-left: 5px;
}
.upload-users a {
	color: #90969b;
}
.upload-users a:hover {
	text-decoration: none;
}


/*Redact Courses*/


.redact {
	position: absolute;
	left: -143px;
	top: -105px;
	background-color: #fff;
}
.redact .types .item-number {
	width: 100%;
}
.redact .types a {
	width: 10%;
}
.redact .write-outline .button-wrap {
	margin-bottom: 55px;
}
.redact-head, .redact-form {
	padding: 10px 20px 0;
}
.redact-head {
	position: relative;
	height: 100px;
	background-color: #edf0f3;
}
.no-padding {
	padding: 0;
}
.redact-form {
	padding-bottom: 88px;
	border-top: 1px solid #d9dfe5;
	border-bottom: 1px solid #d9dfe5;
}
.right-icons {
	display: inline-block;
	position: absolute;
	right: 15px;
}
.redact-icons {
	display: inline-block;
	top: 25px;
	position: relative;
	height: 32px;
	width: 32px;
	line-height: 32px;
	border: 1px solid #d9dfe5;
	background-color: #fff;
	border-radius: 1px;
	color: #555760;
	text-align: center;
	margin-left: 12px;
}
.redact-icons:first-child {
	margin-left: 0;
}
.redact-icons:before {
	position: absolute;
	height: 22px;
	width: 22px;
	border: 1px solid #d9dfe5;
	line-height: 22px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-color: #fff;
	color: #000;
	top: -12px;
	right: -12px;
	font-size: 10px;
}
.icon-comment:before {
	content: '0';
}
.icon-user:before {
	content: '1';
}
.redact .red-square {
	background-color: #800080;
}
.redact .write-outline {
	border: 1px solid #800080;
}
.redact .write-outline .col-md-3 {
	border-right: 1px solid #800080;
}
.redact .write-outline form input {
	border: 1px solid #800080;
}
.redact .descriptions {
	border: 1px solid #800080;
}
.redact .upload-wrapper {
	margin-top: 20px;
}














