<article class="upload-wrapper">
    <section class="upload-header">
        <span class="upload-users"><a href="#users">Users</a></span>
        <span class="upload-user act-us">User</span>
        <button class="btn btn-primary uploads-users-button">Add user</button>
    </section>
    <section class="uploads-user-info">
        <p>
            <span>Username: <b>{{users[0].name}}</b></span>
            <span>Role: {{users[0].role}}</span>
            <span></span>
        </p>
    </section>
    <div class="settings">
        <span>Settings:</span>
        <form name="password">
            <label for="new-password">Enter new password:</label>
            <input id="new-password" type="password" class="input-pass" ng-model="val1" required>
            <label for="repeat-password">Repeat new password:</label>
            <input id="repeat-password" type="password" class="input-pass" ng-model="val2" required>
            <input type="reset" value="Save" ng-disabled="val2 !== val1" class="btn btn-primary save-password-btn btn-sm">
            <span ng-show="val2 !== val1">Passwords don't match</span>
        </form>
    </div>
</article>