<article>
    <div class="write-outline">
        <div class="container-fluid">
            <div class="row">
                <form ng-submit="$ctrl.go('/workspace')" name="$ctrl.synopsis" id="setup">
                    <div class="col-md-3 col-sm-3 col-xs-6 outline-params">
                        <div><span>2.Write Outline</span></div>
                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-12">
                        <input type="text" placeholder="Edit title" ng-model="$ctrl.courseParam[0].title" required>
                        <input type="text" placeholder="Edit subtitle" ng-model="$ctrl.courseParam[0].subtitle" required>
                    </div>
                    <div class="col-md-4 col-sm-4 name-items">
                        <span>{{'#' + $ctrl.courseParam[0].types}}</span>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <textarea class="descriptions" placeholder="WHO?" ng-model="$ctrl.courseParam[0].who" required>

                        </textarea>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <textarea class="descriptions" placeholder="WHY?" ng-model="$ctrl.courseParam[0].why" required>

                        </textarea>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <textarea class="descriptions" placeholder="WHAT?" ng-model="$ctrl.courseParam[0].what" required>

                        </textarea>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="button-wrap">
                            <button type="submit"
                                    class="btn btn-primary"
                                    ng-click="$ctrl.addSynopsisOfCourse($ctrl.courseParam[0].title,
                                    $ctrl.courseParam[0].subtitle, $ctrl.courseParam[0].who,
                                    $ctrl.courseParam[0].why, $ctrl.courseParam[0].what,
                                    $ctrl.courseParam[0].id)">Save</button>
                            <button ng-click="$ctrl.go('/workspace')"
                                    class="btn btn-primary">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</article>

