<article>
    <div class="write-outline">
        <div class="container-fluid">
            <div class="row">
                <form action="/workspace/nextStage">
                    <div class="col-md-3 col-sm-3 col-xs-6 outline-params">
                        <div><span>2.Write Outline</span></div>
                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-12">

                                <input type="text" placeholder="Edit title" required>
                                <input type="text" placeholder="Edit subtitle" required>

                    </div>
                    <div class="col-md-4 col-sm-4 name-items">
                        <span>{{name items}}</span>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <textarea class="descriptions" placeholder="WHO?" required></textarea>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <textarea class="descriptions" placeholder="WHY?" required></textarea>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <textarea class="descriptions" placeholder="WHAT?" required></textarea>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="button-wrap">
                            <button type="submit" value="Save" class="btn btn-primary">Save</button>
                            <a href="/workspace/selectType" class="btn btn-primary">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</article>

