
    <div class="write-outline">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div><span>2.Write Outline</span></div>
                </div>
                <div class="col-md-5">
                        <form action="Edit">
                            <input type="text" placeholder="Edit title">
                            <input type="text" placeholder="Edit subtitle">
                        </form>
                </div>
                <div class="col-md-4">
                    <span>{{name items}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="button-wrap">
        <a href="#workspace/nextStage"type="button" class="btn btn-primary">Save</a>
        <a href="#workspace/selectType"type="button" class="btn btn-primary">Cancel</a>
    </div>

