<div class="g">
    <input type="checkbox" class="checkbox" id="checkbox" />
    <label for="checkbox">Я переключаю чекбокс</label>
</div>
<div class="g">
    <input type="checkbox" class="checkbox" id="checkbox1" />
    <label for="checkbox1">Я переключаю чекбокс</label>
</div>
<div class="g">
    <input type="checkbox" class="checkbox" id="checkbox" />
    <label for="checkbox">Я переключаю чекбокс</label>
</div>
<div class="g">
    <input type="checkbox" class="checkbox" id="checkbox" />
    <label for="checkbox">Я переключаю чекбокс</label>
</div>
<div class="g">
    <input type="checkbox" class="checkbox" id="checkbox" />
    <label for="checkbox">Я переключаю чекбокс</label>
</div>
