<div class="redact" ng-class="{now: $route.current.activetab === 'redact'}">
    <div class="container">
        <div class="row">
            <div class="col-md-12 no-padding">
                <div class="redact-head">
                    <div class="redact-icons icon-comment"><i class="fa fa-comment-o" aria-hidden="true"></i></div>
                    <div class="right-icons">
                        <div class="redact-icons icon-user"><i class="fa fa-user" aria-hidden="true"></i></div>
                        <div class="redact-icons"><i class="fa fa-wrench" aria-hidden="true"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 no-padding">
                <div class="redact-form">
                    <div class="types">
                        <a><div class="item-number check-item"><p>1</p></div></a>
                        <div class="item-name"><p>Select type</p></div>
                        <div class="item-wrap">
                            <div class="checkbox">
                                <input type="checkbox" id="checkOutodor">
                                <label for="checkOutodor">outodor</label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="checkScience">
                                <label for="checkScience">science</label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="checkRelations">
                                <label for="checkRelations">relations</label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="checkTheme">
                                <label for="checkTheme">new theme</label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="checkPublic">
                                <label for="checkPublic">Public Theme</label>
                            </div>
                        </div>
                    </div>
                    <div class="types">
                        <a href="#redSynopsis"><div class="item-number check-item"><p>2</p></div></a>
                        <div class="item-name"><p>Short Synopsis</p></div>
                        <div class="item-wrap">
                            <div class="labels"><p>Who?</p></div>
                            <div class="labels"><p>Why?</p></div>
                            <div class="labels"><p>What?</p></div>
                        </div>
                    </div>
                    <div class="types">
                        <a href="#redDiscover"><div class="item-number check-item"><p>3</p></div></a>
                        <div class="item-name"><p>The four D's</p></div>
                        <div class="item-wrap">
                            <div class="fases"><p>Fase 1</p></div>
                            <div class="fases"><p>Fase 2</p></div>
                            <div class="fases"><p>Fase 3</p></div>
                            <div class="fases"><p>Fase 4</p></div>
                        </div>
                    </div>
                    <div class="types">
                        <a href="#redUploads"><div class="item-number check-item active-item"><p>4</p></div></a>
                        <div class="item-name"><p>Insert recordings</p></div>
                        <div class="item-wrap">
                            <div class="resourses"><p>Resourses</p></div>
                        </div>
                    </div>
                    <div class="button-wrap">
                        <a href="#workspace/courses/construction"type="button" class="btn btn-primary">Update area</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>