<article class="upload-wrapper">
    <section class="upload-header">
        <span class="upload-users" id="top"><a href="/allUsers">Users</a></span>
        <span class="upload-user act-us">Add user</span>
    </section>
    <section class="create-user">
        <span>Create new user:</span>
        <form name="AddUser" ng-submit="$ctrl.createUser('/allUsers')">
            <label for="new-name">Name *</label>
            <input type="text" id="new-name" class="input-new" ng-model="$ctrl.userData.name" required>
            <label for="new-email">Email *</label>
            <input type="email" id="new-email" class="input-new" ng-model="$ctrl.userData.email" required>
            <label for="new-password">Password *</label>
            <input type="password" id="new-password" class="input-new" ng-model="$ctrl.userData.password" required>
            <label for="repeat-password">Repeat password *</label>
            <input type="password" id="repeat-password" class="input-new" ng-model="password2" required>
            <label for="new-departmant">Departmant</label>
            <input type="text" id="new-departmant" class="input-new" ng-model="$ctrl.userData.department">
            <label for="new-role">Role</label>
            <input type="text" id="new-role" class="input-new" ng-model="$ctrl.userData.role">
            <label for="new-state">State</label>
            <input type="text" id="new-state" class="input-new" ng-model="$ctrl.userData.state">
            <input type="submit"
                   value="Create"
                   class="btn btn-primary save-password-btn btn-sm">
            <span class='show-matches'
                  ng-show="$ctrl.userData.password !== password2">Passwords don't match</span>
        </form>
    </section>
</article>